# Core functionality - changes here should be rare!
/src/app.py                   @Hystyic
/src/backend/database.py      @Hystyic
/src/backend/routers/auth.py  @Hystyic

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Hystyic
